body {
  background-color: darkturquoise;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  font-family: Verdana, sans-serif;
}

h2 {
  text-shadow: 1.5px 1.5px black;
}

.button {
  background-color: mediumvioletred;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-shadow: 1px 1px black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

.canvas {
  border: 5px solid;
  background-color: white;
  border-color: black;
}
